* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background: white;
    padding: 20px;
}

header > h1 {
    text-align: center;
    font-size: 50px;
}

body {
    background-color: black;
}

.score-board {
    margin: 50px auto;
    padding: 10px;
    border: 3px solid white;
    border-radius: 5px;
    width: 200px;
    position: relative;
    color: white;
    text-align: center;
    font-size: 50px;
}

.badge {
    padding: 2px;
    color: black;
    background-color: whitesmoke;
    border: 1px solid white;
    border-radius: 5px;
    font-size: 15px;
    font-weight: bolder;
}

#player-badge {
    position: absolute;
    top: 30;
    left: -25;
}

#computer-badge {
    position: absolute;
    top: 30;
    right: -45;
}

.result {
    margin-top: 0px;
    margin-bottom: 25px;
    color: white;
    text-align: center;
    font-size: 45px;
}


.choices {
    text-align: center;
    font-size: 20px;
}

.choice {
    padding: 10px;
    margin: 0px 20px;
    display: inline-block;
    color: white;
    font-weight: bold;
    border: 3px solid white;
    border-radius: 20%;
    transition: all 0.3s ease;
}

.choice:hover {
    cursor: pointer;
    color: black;
    background-color: white;
}
